<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mob.user">

    <application>
        <meta-data
            android:name="android.max_aspect"
            android:value="ratio_float" />
        <activity android:name=".ui.MobLoginActivity"></activity>

    </application>

</manifest>